<h1>New Photo</h1>

<div id="webcam"></div>
<script type="text/javascript">
  webcam.set_swf_url('/webcam.swf');
  webcam.set_api_url('<%=upload_user_photos_path%>');
  webcam.set_quality(90);
  webcam.set_shutter_sound(true, '/shutter.mp3');
  $('webcam').innerHTML = webcam.get_html(640,480);
  webcam.set_hook('onComplete', 'upload complete');

function upload_complete(msg){
        if(msg == 'ok'){
                $('new_user_photo').show();
                $('user_photo_description').focus();
        }else{
                alert('And error occured');
                webcam.reset();
        }
}

</script>

<input type="button" value="Take picture"
		 onclick = "webcam.snap();"/>

<%=form_for @photo, :html =>{:style => ":display: none;"} do |f|%>
 <p>
   <%=f.label :description%><br />
   <%=f.text_field :description%>
 </p>
 <p>
   <%=f.submit "Save the photo"%>
   or <%=link_to "Take another", new_user_photo_path%>
 </p>
<%end%>

